/*Sidenav*/

* {
  text-decoration: none;
  font-family: 'Gotham', sans-serif;
  font-size: 1.1em;
  color: white;
  background-color: blue;
  /*margin-top: 0;*/
  /*padding: 0;*/
}

li {
  list-style: none;

}

#sidenav {
      position: absolute;
      top: 0;
      background: #fff;
      width: 100%;
      height: 100%;
    }

    .hide {
      transition: .75s;
      left: -100%;
    }

    .show {
      transition: 1s;
      left: 0;
    }
}
