/*Sidenav*/

* {
  text-decoration: none;
  font-family: 'Gotham', sans-serif;
  font-size: 1.1em;
  color: black;
  /*margin-top: 0;*/
  /*padding: 0;*/
}

li {
  list-style: none;

}

#sidenav {
      position: absolute;
      top: 0;
      background: blue;
      width: 100%;
      height: 100%;
      font-color: white;
    }

    .hide {
      transition: .75s;
      top:%;
    }

    .show {
      transition: .25s;
      left: 0;
    }
}
