/*Sidenav*/

* {
  text-decoration: none;
  font-family: 'Gotham', sans-serif;
  font-size: 1.1em;
  color: black;
  top: 0;
  margin: 0;
}

li {
  list-style: none;
}

#title {
  font-size: 2.5em;
  color: red;
}

#sidenav {
      position: absolute;
      background: blue;
      width: 100%;
      height: 100%;
      font-color: white;
    }

    .hide {
      transition: 1s;
      left: -100%;
    }

    .show {
      transition: 1s;
      left: 0;
    }
}

